@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

* {
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: rgb(192, 191, 191);
    margin: 0;  
}
    
.btn-info {
    background-color:  black !important;
}

.btn-info:hover {
    cursor: pointer;
    background: #dbdbdb !important;
}

.text-justify-01 {
    text-align: justify;
}

  
@media only screen and (max-width: 900px) {
       
    .dropdown-nav button {
        display: block;
    }
    
    #barsmenu {
        display: block;
    }
    
    .card-container {
        width: 100%;
    }
  
    .left {
        flex: 100%;
        display: flex;
        justify-content: center;
    }

    .right {
        margin-left: 0;
    }
  
    section {
        flex-direction: column;
        align-items: center;
    }

    #container {
        width: 70%;
        display: flex;
        flex-direction: column;
        text-align: justify;
    }

    .items1 {
        width: 100%;
    }

    .items3 {
        margin: 0 auto;
    }

    .MyProfiles {
        margin: 60px auto 0 auto;
    }
    
    .listProject {
        justify-content: center;
    }
    
    .listProject {
        width: 43%;
    }
}
  
@media only screen and (max-width: 600px) {
    
    #barsmenu {
      display: block;
    }
  
    .listProject {
      justify-content: center;
    }
  
    .listProject {
      width: 83%;
    }
    
  }